<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>numbers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAC7EFC21D2BA52F0047F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC7EFDA1D2BA52F0047F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC7EFE51D2BA52F0047F202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
